* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}


:root {
  --clr-primary: #4891ff;
  --clr-light: #f4f4f6;
  --clr-light-1: #fff;
  --clr-dark: #111;
  --clr-dark-2: #333333;
  --clr-a: rgb(51, 51, 51);
  --clr-bg-100: rgb(255, 255, 255);
  --clr-pricing-bg: rgb(244, 244, 246);
  --clr-bg-0: rgb(0, 0, 0);
  --clr-faq-bg: rgb(221, 221, 221);
  --clr-testimonial-bg: rgb(17, 17, 17);
  --xs-fts:   1rem;
  --s-fts: min(1.2rem, 1.5rem);
  --reg-fts: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  --norm-fts: clamp(1rem,  1.4rem, 2.5rem);
  --lg-fts: clamp(1.5rem, 2vw + 2rem, 3rem);
  --h3-fts: clamp(1.5rem, 2vw + 2rem, 2.5rem);
  --padding-10: 10px;
  --padding-15: 15px;
  --padding-20: 20px;
  --padding-30: 30px;
  --padding-40: 40px;
  --padding-50: 50px;
  --padding-80: 80px;
  --box-shadow-1:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
  --margin-5: 5px;
  --margin-10: 10px;
  --margin-15: 15px;
  --margin-20: 20px;
  --margin-30: 30px;
  --margin-40: 40px;
  --margin-50: 50px;
}


a {
   text-decoration: none;
};


.flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

.flex2 {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.flex3 {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.align-center {
  text-align: center;
}

body {
  font-family: "Nunito Sans", sans-serif;
  font-size: var(--reg-fts);
  background-color: var(--clr-bg-100);
  overflow-x: hidden;
}


.energize-wrapper {
  text-align: center;
}

header  {
 
  padding: var(--padding-20);
  position: relative;
 
}


.hamburger-button {
  width: 40px;
  position: relative;
  z-index: 200;
}
button {
  border: transparent;
  background: none;
  outline: transparent;
  cursor: pointer;
}
.hamburger-button button, .hamburger-button button::before, .hamburger-button button::after {
  width: 30px;
  height: 3px;
  background: var(--clr-dark);
}

.hamburger-button button::before, .hamburger-button button::after {
  content: '';
  position: absolute;
}

.hamburger-button button::before {
  top: 6px;
  right: 5px;
 

}

.hamburger-button button::after {
  top: -4px ;
  right: 5px;
}

nav {
  
  position: fixed;
  top: 0;
  left: 60%;
  right: 0;
  text-align: start;
  background-color: var(--clr-bg-100);
  height: 100dvh;
  padding: var(--padding-20);
  box-shadow: var(--box-shadow-1);
  z-index: 110;
  background-attachment: scroll;
  transform: translateX(100%);
  transition: 0.25s ease-in-out all;
  transform-origin: left;

 
}

.swipe-right {
  transform-origin: right;
  transform: rotateX(0);

}

nav ul {
  list-style: none;
  padding-top: 70px;
  line-height: 2;
  
}
nav li {
  padding-bottom: var(--padding-20);
  
}
nav li a {
 
  color: var(--clr-a);
  font-weight: 600;
   font-size: var(--s-fts);
}

.login-button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: var(--s-fts);
  font-weight: 600;
  transition: 0.30s color ease-in-out;
  background-color: var(--clr-light);
  margin-inline: auto;
}

.person-icon{
  margin-right: var(--margin-10)
}


.login-button:hover, .login-button:focus {
  color: var(--clr-primary);
}

main {
  
  line-height: 1.3;
 
}
.hero {
  padding-inline: 20px;
  height: 770px;
  background: url(/images/hero-bg-mobile.png) center bottom / 350px 400px no-repeat;
  margin-bottom: var(--margin-50);
}

.hero h1 {
  margin-top: var(--margin-40);
  font-size: var(--lg-fts);
}

.hero p {
  font-size: var(--xs-fts);
  margin-top: var(--margin-20);
  max-width: 55ch;
}

.hero-btn-con {
  margin-block: var(--margin-20);
  
  row-gap: 10px;
}

.primary-button {
  width: 100%;
  height: 50px;
  font-size: var(--xs-fts);
  font-weight: 600;
  color: var(--clr-light-1);
  background-color: var(--clr-primary);
  border-radius: 10px;
  
}

.hero-btn-con .sec-btn {
  background-color: var(--clr-light);
  color: var(--clr-a);
  column-gap: 10px;
}

.section-setting {
  
  padding-block: var(--padding-30);
 
  background: var(--clr-bg-0);
  color: var(--clr-light);
}

.desc {
   padding-inline: var(--padding-10);
  font-size: var(--reg-fts);
  font-weight: 100;
  line-height: 1.3 ;
  margin-bottom: var(--margin-50);
}
.video-con {
  padding-inline: var(--padding-20);
}
.video-preview {
  max-width: 100%;
}

.learn-more-btn {
  width: 150px;
  margin-top: var(--margin-20);
  margin-bottom: var(--padding-10);
}

.testimonials {
 padding-inline: var(--padding-20);
 padding-top: var(--padding-80);
 background-color: var(--clr-testimonial-bg);

}

.testimonial-card {
  background-color: var(--clr-light-1);
  color: var(--clr-dark);
  font-size: var(--xs-fts);
  padding: var(--padding-20);
  text-align: start;
  margin-bottom: var(--margin-30);
  border-radius: 10px;
}
.name {
  font-weight: bold;
  margin-top: var(--margin-30);
}


.pricing-wrapper {
  padding-inline: var(--padding-10);
  padding-block: var(--padding-30);
  color:var(--clr-dark-2);
  background:  var(--clr-light-1);
}

.pricing-title {
  font-weight: 200;
  margin-bottom: var(--margin-15);
  font-size: var(--reg-fts);
 
}

.pricing-plan {
  font-size: var(--s-fts);
  margin-bottom: var(--margin-40);
  padding-inline: var(--padding-20);
  
}

.price-category {
  background: var(--clr-pricing-bg);
  padding-top: var(--padding-50);
  padding-bottom: var(--padding-20);
  padding-inline: var(--padding-20);
  border-radius: 10px;
  text-align: start;
  color: var(--clr-dark-2);
  line-height: 1.5;
  margin-bottom: var(--margin-30);
  
}

.price-tag{
  font-size: var(--h3-fts);
}

.small-design {
   font-size: var(--xs-fts);
  
  
}
.bigger {
   font-size: var(--lg-fts);
  
}

.price-type {
  margin-bottom: var(--margin-20);
}

hr {
border-color: #3333331a;
}

.perks-con {
  padding-top: var(--margin-30);
}
.perks {
  margin-bottom: var(--margin-20);
}

.entity {
  margin-right: var(--margin-10);
  color: var(--clr-a);
}

.bg-dark {
  color: var(--clr-light-1);
  background-color: var(--clr-dark);
}

.payment-type {
  background-color: var(--clr-light-1);
}


.h3 {
  font-weight: 200;
  margin-bottom: var(--margin-20);
  font-size: var(--h3-fts);
}
.faqs {
  
  background-color: var(--clr-light);
  padding-top: var(--padding-80)
}


.faqs-category {
  max-width: 400px;
  background: var(--clr-faq-bg);
  margin-inline: auto;
  border-radius: 10px;
  padding: var(--padding-10) var(--padding-20);
  padding-inline-end: var(--padding-40);

}

.faqs-category ul {
  list-style: none;
  font-size: var(--s-fts);
  
}

.active {
  background-color: var(--clr-primary);
  padding: var(--padding-10) var(--padding-20);
  border-radius: 5px;
  color: var(--clr-light-1);
 
}

.faqs-answers-con {
  padding-block: var(--margin-30);
  text-align: start;
  font-size: var(--s-fts);
  font-weight: 600;
  padding-inline: var(--padding-20);
}



.faqs-response {
   margin-block: var(--margin-30) var(--margin-20);
   font-weight: 100;
}
.faqs-tag {
  margin-bottom: var(--margin-50);
  font-weight: 600;
  font-family: var(--s-fts);
} 
.fa{
  font-size: var(--s-fts);
  cursor: pointer;
}


.faqs-message {
 display:  none; 
}

.show {
  display: block;
}


.footer-wrapper {
  padding: var(--padding-40) var(--padding-20);
  text-align: start;
  padding: 20
}

.rights p {
  margin-block: var(--margin-20);
}

.copyrights {
  font-size: 0.8rem;
}



@media (min-width: 36.5em) {
  body {
     max-width: 1100px;
     text-align: center;
  }  

  .hamburger-button {
    display: none;
  }

    nav {
   all: initial;
  
  }

  nav ul {
   all: initial;
   list-style: none;
   display: flex;
   justify-content: space-between;
   align-items: center;
   column-gap: 30px;

  }
  .login-button {
    all: initial;
    background: var(--clr-light);
    padding: var(--padding-10) var(--padding-20);
    border-radius: 10px;
    font-weight: 600;
    font-size: var(--xs-fts);
  }
  nav li {
    all:initial;
  }
  nav li a {
    
  }
 
  .hero {
  height: 550px;
  background: url(/images/hero-bg.png) no-repeat;
  background-position: bottom center;
  background-size: contain;
 
 
}

.hero-content {
  width: 70%;
  text-align: start;
  padding-right: 40px;
}

.hero-btn-con {
  flex-direction: row;
  column-gap: 10px;
  justify-content: initial;
}

.primary-button {
  width: initial;
  height: initial;
  padding: var(--padding-15) var(--padding-20);
}

.testimonials-desc {
  text-align: start;
  width: 700px;
}

.testinonial-card-con {
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  column-gap: 20px;
}

.pricing {
  max-width:  800px;
 margin-inline: auto;
}

.price-category-con {
  display: grid;
 grid-template-columns: 1fr 1fr;
 column-gap: 30px;

}
.price-btn {
  width: 100%;
}
.faqs-answers-con {
  margin-inline: auto;
}


}

@media (min-width: 56em) {
  body {
     max-width: initial;
     
  }
  header,.hero, .pricing,.learn-more, .testimonials,.faqs, footer {
    padding-inline: var(--padding-50);
  }

  .hero {
  
  background-size: 95%;
 
 
}
 
}