* {
  margin: 0; 
  padding: 0;
  box-sizing: border-box;
}


:root {
  --clr-primary: #4891ff;
  --clr-light: #f4f4f6;
  --clr-dark: #111;
  --clr-a: rgb(51, 51, 51);
  --clr-bg-100: rgb(255, 255, 255);
   --s-fts: clamp(0.8rem,  1.3rem, 1.5rem);
  --reg-fts: clamp(1.5rem, 2vw + 1rem, 2.5rem);
  --padding-15: 15px;
  --padding-20: 20px;
  --box-shadow-1:  0px 0px 10px 0px rgba(0, 0, 0, 0.2);
}

.flex1 {
  display: flex;
  justify-content: center;
  align-items: center;
}

body {
  font-family: 'Poppins', sans-serif;;
  font-size: var(--s-fts);
  background-color: var(--clr-bg-100);
  min-height: 100dvh;
  
}

.energize-wrapper {
  width: 100%;
  max-width: 1100px;
  text-align: center;
  
}

header  {
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: var(--padding-20);
  position: relative;
 
}


.hamburger-button {
  width: 40px;
  position: relative;
  z-index: 100;
}
button {
  border: transparent;
  outline: transparent;
  cursor: pointer;
}
.hamburger-button button, .hamburger-button button::before, .hamburger-button button::after {
  width: 30px;
  height: 3px;
  background: var(--clr-dark);
}

.hamburger-button button::before, .hamburger-button button::after {
  content: '';
  position: absolute;
}

.hamburger-button button::before {
  top: 6px;
  right: 5px;
 

}

.hamburger-button button::after {
  top: -4px ;
  right: 5px;
}

nav {
  position: fixed;
  top: 0;
  left: 35%;
  right: 0;
  text-align: start;
  background-color: var(--clr-bg-100);
  height: 100dvh;
  padding: var(--padding-20);
  box-shadow: var(--box-shadow-1);
 
  background-attachment: scroll;
  transform: translateX(100%);
   transition: 0.25s ease-in-out all;
  transform-origin: left;
}

.swipe-right {
  transform-origin: right;
  transform: rotateX(0);

}

ul {
  list-style: none;
  padding-top: 80px;
  line-height: 2;
}
nav li {
  padding-bottom: var(--padding-20);
}
nav a {
  text-decoration: none;
  color: var(--clr-a);
  font-weight: 600;
  font-size: var(--s-fts);
}

.login-button {
  width: 100%;
  height: 50px;
  border-radius: 10px;
  font-size: var(--s-fts);
  font-weight: 600;
  transition: 0.30s color ease-in-out;
  margin-inline: auto;
  column-gap: 10px;
}


.login-button:hover, .login-button:focus {
  color: var(--clr-primary);
}


